name: SonarQube Scan

on:
  push:
    branches: [ "main" ]

jobs:
  sonar:
    runs-on: self-hosted

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_CI_CD }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
